@font-face {
  font-family:'YoungSerif' ;
  src: url('../assets/fonts/young-serif/YoungSerif-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Outfit';;
  src: url('../assets/fonts/outfit/Outfit-VariableFont_wght.ttf') format('truetype');
}


.title { 
  font-family: 'YoungSerif';
  font-weight: 400;
  font-style: normal;
}

body{
  font-family: 'Outfit';
}
p, li {
  font-weight: 400;
  font-size: 16px;
}

li > span {
  font-family :'Outfit';
  font-weight: 600;
}

div > h1{
  font-weight: 600;
}



  p{
    font-size: 1rem;
  }
